{% extends 'base.html' %}
{% block content %}
 
<div class="topnav">
  <a class="active" href="{% url 'home'%}">Piazza</a>
  <a href="{% url 'new_home'%}">New</a>
  <a href="{% url 'past_home'%}">Past</a>
  <a href="{% url 'submit'%}">Submit</a>
  <a href="{% url 'statistics' %}">statistics</a>
 
  {% if request.user.is_authenticated %}
    <div class="topnav-right">
      <a href="{% url 'signout' %}">Sign Out </a>
    </div>
  {% else %}
    <div class="topnav-right">
      <a href="{% url 'signin' %}">Sign In </a>
    </div>
  {% endif %}
</div>
 
<p><strong>User: </strong>{{user.username}}</p>
<p><strong>Created: </strong>{{user.date_joined}}</p>
</div>
 
<a href="{% url 'user_posts' user.username %}">Submissions</a>
 
{% endblock %}